<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NoQ</title>
      <link rel="stylesheet" href="../../static/css/output.css">
      <link rel="stylesheet" href="../../static/css/user.css">
</head>
<body>
   <header class="bg-gray-300 max-w-screen mx-auto py-4 px-8 bg-gray-300">
        <div class="flex justify-between align-center">
            <p>NoQ</p>

          <nav>
        <ul class=" md:flex hidden items-center justify-between gap-5 max-w-screen mx-auto">
                <li><a href="Home">Home</a></li>
                <li><a href="Book_token">Book token</a></li>
                <li><a href="#track_queue">Track Queue</a></li>
                <li><a href="#History">Contact</a></li>
                <li><a href="#Alerts">Alerts</a></li><li><a href="Profile">Profile</a></li>
            </ul>
    </nav>
         <div>
            <div class="gap-4 flex justify-end align-center">
                <p class="">.</p>
               <div class="profile">
                <p class="py-4 px-4"> NK</p>
               </div>
            </div>
    </header>
    <div class="md:hidden">
       <ul class="nav-end px-8 max-w-screen mx-auto px-2">
                <li><a href="Home">Home</a></li>
                <li><a href="Book_token">Book token</a></li>
                <li><a href="#track_queue">Track Queue</a></li>
                <li><a href="#History">Contact</a></li>
                <li><a href="#Alerts">Alerts</a></li><li><a href="Profile">Profile</a></li>
        </ul>
    </div>
</body>
</html>