<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NOQ_Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
    <link rel="stylesheet" href="../../static/css/output.css">
    <link rel="stylesheet" href="../../static/css/login.css">

</head>
<body>
 <div class="login-container rounded shadow-md text-center mx-auto ">

   <h1 class="py-2">NOQ Login Page (logo)</h1>
   <p>skip the wait , not the queue</p>
   <p>sign in to your account.</p>
   <p > new here? </p> 
   <p><a class="text-blue-500 hover:text-blue-700" href="#">create an account ?</a></p> 


    <form action="login.php " method="post">
        <label for="username">Username:</label>
        <input class="border border-black-100
        rounded py-2 px-4 " type="text" id="username" name="username" required placeholder="Enter your username"><br><br>
        
        <label for="password">Password:</label>
        <input class="border border-black-100 rounded py-2 px-4 " type="password" id="password" name="password" required placeholder="Enter your password"><br><br>
        
        <button class="login-btn bg-blue-500 hover:bg-blue-700 rounded" type="submit">Login</button>
    </form>
    <div class="divider">
        <span>or continue with</span>
    </div>
     <button type="button" class="btn-google"> 
        <i class="fab fa-google"></i> Google
    </button>
</div>    
</body>`
</html>